<head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />   
</head>

<h2>Find a dog walker</h2>

{{!-- Show all the available dog walkers --}}
{{#each walkerList}}
<a href="/owner/walker/{{id}}">{{username}}</a><br>
<p>{{price}}</p>
{{/each}}


<nav>
    <a href="/owner/find-walkers">Search</a>
    <a href="">Walks</a>
    <a href="/owner/profile">My Profile</a>
</nav>



<div id="map" style="width: 100vw; height: 110vh;"></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiaXJvbm9sYSIsImEiOiJja28xYTN2bzMwNmtsMndzNTg5dHQ1eTd4In0.HUiwiUixDnMOkMwxFVh9TQ';
    const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mapbox/streets-v11', // style URL
    center: [13.4, 52.52], // starting position [lng, lat]
    zoom: 9 // starting zoom
});
// Fetch walkers from API
async function getWalkers() {
  const res = await fetch('/views/owner/find-walkers');
  const data = await res.json();

  const walkers = data.data.map(walker => {
    return {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [
          store.location.coordinates[0],
          store.location.coordinates[1]
        ]
      },
    };
  });

  loadMap(walkers);
}

// Load map with walkers
function loadMap(walkers) {
  map.on('load', function() {
    map.addLayer({
      id: 'points',
      type: 'symbol',
      source: {
        type: 'geojson',
        data: {
          type: 'FeatureCollection',
          features: walkers
        }
      },
      layout: {
        'icon-image': '{icon}-15',
        'icon-size': 1.5,
        'text-field': '{walkerId}',
        'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
        'text-offset': [0, 0.9],
        'text-anchor': 'top'
      }
    });
  });
}

</script>