<head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />   
</head>

<h2>Find a dog walker</h2>

{{!-- Show all the available dog walkers --}}
{{#each walkerList}}
<a href="/owner/walker/{{id}}">{{username}}</a><br>
<p>{{price}}</p>
{{/each}}


<nav>
    <a href="/owner/find-walkers">Search</a>
    <a href="">Walks</a>
    <a href="/owner/profile">My Profile</a>
</nav>



<div id="map" style="width: 100vw; height: 110vh;"></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiaXJvbm9sYSIsImEiOiJja28xYTN2bzMwNmtsMndzNTg5dHQ1eTd4In0.HUiwiUixDnMOkMwxFVh9TQ';
    const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mapbox/streets-v11', // style URL
    center: [-74.5, 40], // starting position [lng, lat]
    zoom: 9 // starting zoom
});
</script>