
<div>
    <img src="/images/undraw_passing_by_gqfk.svg" alt="">
</div>
<h2>Request</h2>



<form action="/walker/request" method="POST">
    <label for="date">Date</label>
    <input type="date" name="date" id="date">

    <label for="time">Time</label>
    <input type="time" name="time" id="time">
  <button type="submit">Send walk request</button>
</form>