{{#with sendToInfo}}
<div>
    <img src="/images/undraw_passing_by_gqfk.svg" alt="">
</div>
<h2>Request</h2>

<form action="/request/request-sent" method="POST">
    <label for="date">Date</label>
    <input type="date" name="date" id="date">

    <label for="time">Time</label>
    <input type="time" name="time" id="time">

    <label for="duration">Duration:</label>
    <select id="duration" name="duration">
        <option value="15">15 min</option>
        <option value="30">30 min</option>
        <option value="45">45 min</option>
        <option value="60">1 hour</option>
        <option value="90">1.5 hour</option>
        <option value="120">2 hours</option>
    </select>

  <button type="submit">Send walk request</button>
</form>
{{/with}}
