<a href="/owner/find-walkers">Go back</a>

<h2>Walker details</h2>

{{#with walkerDetails}}
<div><img src="{{walkerImg}}" alt="walker profile picture"></div>
<div>
    <p>Name: {{username}}</p>
</div>
<div>
    <p>{{price}}</p>
</div>

<div>
    <p>Experience: {{walkerExperience}}</p>
</div>

{{/with}}

<button><a href="/owner/request">Contact walker</a></button>