{{!-- <h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p> --}}

<div id='signinIndex' class='screenSetup centerItems'>
    {{!-- <div class='backgroundRect'></div>
    <div class='backgroundCircle'></div> --}}

        <img class='backgroundShape' src="/images/bg-shape-large.svg" alt="">

        <div>
            <img id='indexImage' src="/images/undraw_woman_mevk.svg" alt="index image" >
        </div>

        <div><H2>Find a nearby dog walker for a busy day</H2></div>

        <div><p>Find the best dog walkers in your area, or become one yourself!</p></div>
        <button><a href="/auth/login">Sign in</a></button>
        <div><a href="/auth/signupChoice">Create new account</a></div>
    
</div>