<div id='signupChoice' class='screenSetup centerItems'>
    <img class='backgroundShape' src="/images/bg-shape-medium.svg" alt="background shape">
    <img src="/images/undraw_passing_by_gqfk.svg" alt="signup image">
    <h2>What do you want to do?</h2>

    <button><a href="/auth/signup/owner">Looking for a dog walker</a></button>
    <br>
    <button><a href="/auth/signup/walker">I am a dog walker</a></button>
</div>