<img src="/images/undraw_Dog_walking_re_l61p.svg" alt="signup image">
<h2>What do you want to do?</h2>

<button><a href="/auth/signup/owner">Looking for a dog walker</a></button>
<br>
<button><a href="/auth/signup/walker">I am a dog walker</a></button>