<img src="/images/undraw_Dog_walking_re_l61p.svg" alt="signup image">
<h2>Sign up</h2>

<form action="/auth/signupOwner" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>

    <label for="email">Email:</label>
    <input type="text" name="email" id="email" required>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Create account</button>
</form>
{{#if message}}
    <p style="color: red">{{message}}</p>   
{{/if}}